html, body {
  height: 100%;
}


.textjumbo {
  font-size: 170px;
  font-family: 'Alfa Slab One', cursive;
}

.texttipis {
  font-size: 170px;
  font-family: 'Nunito', sans-serif;
}

.full-height {
  height: 100%;
}

.jumbotron {
  padding-top: 300px;
  height: 100%;
  background-color: #1d1d25;
}

#project1 {
  padding-top: 15rem;
}

#project2 {
  padding-top: 15rem;
}

#project3 {
  padding-top: 15rem;
}

#contact {
  padding-top: 15rem;
}

/* Jumbotron */
/* .jumbotron{
  background: url("images/WA1.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
} */
/* jumbotron */
/* BUTTON */

.button {
  font-family: inherit;
  font-weight: 400;
  background: #f2295b;
  color: white;
  padding: 0.35em 0;
  font-size: 17px;
  border: none;
  border-radius: 0.7em;
  letter-spacing: 0.08em;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  overflow: hidden;
  height: 2.1em;
  padding-left: 3em;
  padding-right: 0.7em;
 }
 
 .button .icon {
  background: #fff;
  margin-right: 1em;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.5em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.3em;
  transition: all .7s;
 }
 
 .shere {
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 4px;
 }
 
 .button:hover .icon {
  width: calc(100% - 0.6rem);
 }
 
 .button:hover .shere {
  width: calc(100% - 0.6rem);
  display: none;
 }
 
 .button .icon-shere {
  color: #f2295b;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
 }
 
 .button:hover .icon .icon-shere {
  display: flex;
 }
 /* BUTTON AKHIR */


 /* card*/

 /* this card is inspired form this - https://georgefrancis.dev/ */
 

.card {
  --border-radius: 0.20rem;
  --primary-color: #fbb040;
  --secondary-color: #3c3852;
  width: 210px;
  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 50%);
  position: relative;
}

.card > * + * {
  margin-top: 1.1em;
}

.card .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card .card__title {
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card svg {
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  transform: translateY(3px);
}




/* NEW CARD */

